<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div class="left">
    <h1>
      Mi página de dibujo
    </h1>
    <h4>Seleccione el tipo de figura que desea dibujar</h4>
    <button (click)="updateDrawType('linea')">Líneas</button>
    <button (click)="updateDrawType('rectangulo')">Rectángulos</button>
    <h5>Estas dibujando: {{drawTypeStr }}</h5>
    <button (click)="undoDraw()" >Deshacer</button>
  </div>
  <div id="drawDiv" class="right">
    <svg width="100%" class="mySvg" (mousedown)="mousedown($event)" (mouseup)="mouseup($event)">
  </svg>
  </div>
</div>
<router-outlet></router-outlet>
