/* You can add global styles to this file, and also import other style files */
rect {
    stroke: steelblue;
    stroke-width: 2px;
    stroke-linecap: round;
    fill: steelblue;
}


line {
    stroke: steelblue;
    stroke-width: 2px;
    stroke-linecap: round;
}

svg {
    border: 1px solid #008CBA;
    height: 100%;
    width: 100%
}

.left, .right {
    float:left;
}

.left {
    width: 20%;
    padding-right: 15px;
}

.right {
    width: 75%;
    height: 500px;
}

button {
    background-color: #008CBA;
    font-size: 16px;
    border-radius: 10px;
    color: white;
    padding: 10px;
    border: none;
    margin-right: 5px;
}

h1, h4, h5{
    font-family: sans-serif;
}